# Created by .ignore support plugin (hsz.mobi)
### WordPress template
config.codekit3
.idea

wp-admin
wp-content/plugins
wp-content/themes/index.php
wp-content/themes/remax/images/fpo
wp-content/upgrade
wp-content/uploads
wp-content/index.php
wp-includes

.htaccess
/index.php
license.txt
readme.html
wp-activate.php
wp-blog-header.php
wp-comments-post.php
wp-config.php
wp-config-sample.php
wp-cron.php
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php