* {
	-webkit-font-smoothing: antialiased;
}

a {
	color: $remax-red;

	&:focus {
		outline: none;
	}

	&:hover {
		text-decoration: none;

		h4, .h4, .read-more {
			color: $remax-red;
		}

		.image-grow-on-hover img {
			opacity: 0.5;
			transform: scale(1.1);
		}

		.read-more {
			font-family: "Montserrat Bold", sans-serif;
		}
	}

	h4, .h4, .read-more {
		@include transition();
	}
}

body {
	color: $gray-dark;
	font: 0.815rem/1.35rem "Raleway Medium", sans-serif;

	@include breakpoint('sm') {
		font-size: 1rem;
		line-height: 1.625rem;
	}
}

h1, h2, h3, h4,
.h1, .h2, .h3, .h4 {
	color: $remax-blue;
	font-family: "Montserrat Regular", sans-serif;
}

h1, .h1 {
	font-size: 1.5rem;

	@include breakpoint('sm') {
		font-size: 1.875rem;
	}

	@include breakpoint('md') {
		font-size: 2.1875rem;
	}
}

h2, .h2 {
	font-size: 1.125rem;

	@include breakpoint('sm') {
		font-size: 1.5rem;
	}

	@include breakpoint('md') {
		font-size: 1.875rem;
	}
}

h3, .h3 {
	font-size: 1.125rem;

	@include breakpoint('md') {
		font-size: 1.5rem;
	}
}

h4, .h4 {
	font-size: 1.125rem;

	@include breakpoint('xl') {
		font-size: 1.375rem;
	}
}

h5, .h5 {
	font-size: 1.125rem;
}