* {
	-webkit-font-smoothing: antialiased;
}

a {

	&:focus {
		outline: none;
	}

	&:hover {
	}
}

body {
	color: $gray-dark;
	font: 1rem/1.625rem "Raleway Medium", sans-serif;
}

h1, h2, h3, h4 {
	color: $remax-blue;
	font-family: "Montserrat Regular", sans-serif;
}

h1 {
	font-size: 2.1875rem;
}

h3 {
	font-size: 1.5rem;
}