.btn {
	&-primary {
		background: $remax-red;
		border: 0;
		border-radius: 1.5rem;
		font: 1rem "Montserrat Regular", sans-serif;
		line-height: 3rem;
		padding: 0 1.5rem;

		&:hover {
			background: darken($remax-red, 10%);
		}
	}
}