textarea {
	border-radius: 1rem !important;
	height: 12rem;
	resize: none;
}

.form-comment {
	.form-submit {
		margin: 0;
	}
}

.form-control {
	border-radius: 2rem;
	min-width: 17.5rem;
}

.form-search {
	.form-control {
		background: url('../images/icon/search.svg') 1rem center no-repeat / 1rem;
		border: 0;
		box-shadow: inset 0 0 3px transparentize(black, 0.7);
		color: $remax-red;
		font: 1em "Montserrat Regular", sans-serf;
		padding-left: 2.5rem;
	}

	.form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		color: $remax-red;
	}

	.form-control::-moz-placeholder { /* Firefox 19+ */
		color: $remax-red;
	}

	.form-control:-ms-input-placeholder { /* IE 10+ */
		color: $remax-red;
	}
}