.gallery {
	margin: 0 -0.5rem;

	figcaption {
		display: none;
	}

	figure {
		&.active .image-grow-on-hover {
			border: 1px solid $remax-red;
		}

		&:hover .image-grow-on-hover img {
			opacity: 0.5;
			transform: scale(1.1);
		}
	}

	.current-photo-details {
		background: $gray-gallery;
		border: 1px solid $remax-red;
		position: relative;

		figcaption {
			display: block;
		}

		h3,
		p {
			margin-bottom: 2rem;
		}

		img:hover {
			cursor: default;
			opacity: 1;
			transform: none;
		}

		.btn-close {
			position: absolute;
			right: 0.75rem;
			top: 0.75rem;
		}
	}

	&-placeholder {
		line-height: 0;
	}
}