.gallery {
	figcaption {
		display: none;
	}

	figure {
		&.active .gallery-image-mask {
			border: 1px solid $remax-red;
		}
	}

	img {
		transition: all .2s ease-in-out;

		&:hover {
			cursor: pointer;
			opacity: 0.5;
			transform: scale(1.1);
		}
	}

	.current-photo-details {
		background: $gray-gallery;
		border: 1px solid $remax-red;
		position: relative;

		figcaption {
			display: block;
		}

		h3,
		p {
			margin-bottom: 2rem;
		}

		img:hover {
			cursor: default;
			opacity: 1;
			transform: none;
		}

		.btn-close {
			position: absolute;
			right: 0.75rem;
			top: 0.75rem;
		}
	}

	.gallery-image-mask {
		overflow: hidden;
	}
}