nav ul {
	list-style: none;
	margin: 0;
	padding: 0;

	a,
	li {
		display: inline-block;
	}
}

.nav-primary {
	a {
		font: 1.375rem "Montserrat Regular", sans-serif;
		line-height: 3.5rem;
		padding: 0 3rem;
		position: relative;

		&:after {
			background: url('../images/icon/chevron-down.svg');
			content: "";
			height: 1.25rem;
			margin-top: -0.5rem;
			position: absolute;
			right: 1.25rem;
			top: 50%;
			width: 1.25rem;
		}
	}
}