.top-story {
	height: 25rem;

	a, h1, p {
		color: white;
	}

	a, .read-more {
		@include transition(color);

		&:hover {
			color: $remax-red;
		}
	}

	h1 {

	}

	p {
		font-family: "Montserrat Regular", sans-serif;
	}

	.read-more {
		font: 1rem "Montserrat Regular", sans-serif;
	}

	&-content {
		&:before {
			@extend .overlay;
		}

		> * {
			position: relative;
		}

		bottom: 0;
		left: auto;
		position: absolute;
		right: 0;
		top: 0;
		width: 33.333%;
	}
}