.blog {
	&-nav {
		background: none !important;
		border-bottom: 1px solid $remax-gray !important;
		margin-top: 0 !important;
	}

	.nav-link span {
		color: $remax-red;

		&:after {
			background: url('../images/icon/chevron-down-red.svg');
		}
	}

	&-social-header {
		border-bottom: 1px solid $remax-gray;
		overflow: auto;

		.social-facebook {
			@extend .social-facebook-primary;
		}

		.social-linkedin {
			@extend .social-linkedin-primary;
		}

		.social-twitter {
			@extend .social-twitter-primary;
		}
	}
}