.top-menu {
	a {
		color: $remax-red;
		font: 1rem "Montserrat Semibold", sans-serif;
		display: inline-block;
		line-height: 3rem;
		padding: 0 1.5rem;
		text-transform: uppercase;
	}

	li {
		position: relative;

		&:not(:last-child):after {
			background: $remax-blue;
			content: "";
			height: 1rem;
			margin-top: -0.5rem;
			position: absolute;
			right: -1px;
			top: 50%;
			width: 2px;
		}
	}
}

.nav-on-dark {
	a {
		color: white;
	}
}