.top-menu {
	display: none;

	@include breakpoint('lg') {
		display: block;
	}

	a {
		@include transition();
		font: 0.8125rem "Montserrat Semibold", sans-serif;
		display: inline-block;
		line-height: 3rem;
		padding: 0 1.5rem;
		text-transform: uppercase;

		@include breakpoint('xl') {
			font-size: 1rem;
		}
	}

	li {
		position: relative;

		&:not(:last-child):after {
			@extend .pipe;
		}
	}
}