.top-menu {
	a {
		color: $remax-red;
		display: inline-block;
		line-height: 3rem;
		padding: 0 1.5rem;
		text-transform: uppercase;
	}

	li {
		position: relative;

		&:not(:last-child):after {
			background: $remax-blue;
			content: "";
			height: 16px;
			margin-top: -8px;
			position: absolute;
			right: 0;
			top: 50%;
			width: 2px;
		}
	}
}

.list-stylized {
	column-count: 2;
	column-gap: 6rem;
	counter-reset: my-counter;

	li {
		color: $remax-blue;
		position: relative;
	}

	li:after {
		@extend .red-hash;
	}

	li:before {
		color: #c4c5c9;
		content: counter(my-counter);
		counter-increment: my-counter;
		font-size: 3rem;
		left: -3rem;
		line-height: 1;
		position: absolute;
		top: 0;
	}
}

.nav-on-dark {
	a {
		color: white;
	}
}