.single {
	&-post-author {
		color: $remax-blue;
		font: 1rem "Montserrat Semibold", sans-serif;
	}

	&-post-category {
		white-space: nowrap;

		a {
			margin-left: 0.25rem;
		}

		a:first-child {
			margin-left: 0;
		}
	}

	&-post-content {
		h1 {
			font-size: 1.5rem;
		}
	}

	&-post-meta {
		time {
			color: $remax-blue;
			font: 1rem "Montserrat Regular", sans-serif;
		}

		.blog-post-social {
			float: none !important;
		}

		.social-facebook {
			@extend .social-facebook-primary;
		}

		.social-linkedin {
			@extend .social-linkedin-primary;
		}

		.social-twitter {
			@extend .social-twitter-primary;
		}
	}

	&-post-tags {
		&:before {
			@extend .pipe-left;
			top: 0;
			margin-top: 0.25rem;
		}
	}
}