footer {
	small {
		font: 0.875rem "Montserrat Regular", sans-serif;
	}
}

.footer-menu {
	font: 0.9375rem "Montserrat Bold", sans-serif;
	text-transform: uppercase;

	a {
		color: white;
		padding: 1.25rem;
	}

	li {
		display: inline-block;
		position: relative;

		&:after {
			@extend .pipe;
			background: white;
		}

		&:last-child:after {
			display: none;
		}
	}
}

.footer-top {
	font: 1rem "Montserrat Semibold", sans-serif;

	a {
		color: white;
	}

	h3 {
		color: white;
		font: 1rem "Montserrat Semibold", sans-serif;
		margin-bottom: 0;
		opacity: 0.7;
		text-transform: uppercase;
	}

	img[alt="Children's Miracle Network"] {
		margin-top: 0.5em;
		max-width: 120px !important;
	}

	ul {
		line-height: 2rem;
		list-style: none;
		padding-left: 0;
	}
}

.social {
	background-position: center !important;
	background-repeat: no-repeat !important;
	display: inline-block;
	font-size: 0;
	height: 0;
	overflow: hidden;
	padding-top: 2.625rem;
	width: 3.25rem;

	&-facebook {
		background: url('../images/social/facebook.svg');
	}

	&-google {
		background: url('../images/social/google.svg');
	}

	&-instagram {
		background: url('../images/social/instagram.svg');
	}

	&-linkedin {
		background: url('../images/social/linkedin.svg');
	}

	&-pinterest {
		background: url('../images/social/pinterest.svg');
	}

	&-twitter {
		background: url('../images/social/twitter.svg');
	}
}