header {
	background: $remax-blue;

	@include breakpoint('lg') {
		background: white;
	}
}

.logo {
	background: url('../images/logo/logo-white@2x.png') no-repeat;
	background-size: contain !important;
	display: inline-block;
	height: 0;
	min-width: 180px;
	overflow: hidden;
	padding-top: 33px;

	@include breakpoint('lg') {
		background: url('../images/logo/logo@2x.png');
	}

	&-large {
		background: url('../images/logo/logo-large@2x.png');
		padding-top: 60px;
		min-width: 328px;
	}
}

.header-search-form {
	margin-top: -0.75rem;
	right: 15px;
	top: 50%;
	width: 15em;
}