.sidebar {
	font: 1rem/1 "Montserrat Regular", sans-serif;

	&-mobile-links {
		display: block;
		order: 0;

		@include breakpoint('md') {
			display: none;
		}
	}

	#sb-newsletter {
		display: none;

		@include breakpoint('md') {
			display: block;
		}
	}
}