/*
	Create an @font-face declaration for each font used in the theme
 */
@font-face {
  font-family: "Montserrat Regular";
  src: url("../fonts/montserrat-regular-webfont.eot");
  src: url("../fonts/montserrat-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-regular-webfont.woff2") format("woff2"), url("../fonts/montserrat-regular-webfont.woff") format("woff"), url("../fonts/montserrat-regular-webfont.ttf") format("truetype"), url("../fonts/montserrat-regular-webfont.svg#montserratregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Montserrat Semibold";
  src: url("../fonts/montserrat-semibold-webfont.eot");
  src: url("../fonts/montserrat-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-semibold-webfont.woff2") format("woff2"), url("../fonts/montserrat-semibold-webfont.woff") format("woff"), url("../fonts/montserrat-semibold-webfont.ttf") format("truetype"), url("../fonts/montserrat-semibold-webfont.svg#montserratsemibold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Montserrat Bold";
  src: url("../fonts/montserrat-bold-webfont.eot");
  src: url("../fonts/montserrat-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-bold-webfont.woff2") format("woff2"), url("../fonts/montserrat-bold-webfont.woff") format("woff"), url("../fonts/montserrat-bold-webfont.ttf") format("truetype"), url("../fonts/montserrat-bold-webfont.svg#montserratbold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Raleway Medium";
  src: url("../fonts/raleway-medium-webfont.eot");
  src: url("../fonts/raleway-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-medium-webfont.woff2") format("woff2"), url("../fonts/raleway-medium-webfont.woff") format("woff"), url("../fonts/raleway-medium-webfont.ttf") format("truetype"), url("../fonts/raleway-medium-webfont.svg#ralewaymedium") format("svg");
  font-weight: normal;
  font-style: normal; }

.h4 {
  color: #dc1c2e;
  font: 1.375rem "Montserrat Bold", sans-serif; }

.icon {
  background-size: 1.25rem !important;
  padding-left: 2rem; }
  .icon-2 {
    background-size: 1.5rem !important;
    padding-left: 2.25rem; }
  .icon-3 {
    background-size: 1.75rem !important;
    padding-left: 2.5rem; }
  .icon-calendar {
    background: url("../images/icon/calendar.svg") left center no-repeat; }
  .icon-chat {
    background: url("../images/icon/chat.svg") left center no-repeat; }
  .icon-email {
    background: url("../images/icon/email.svg") left center no-repeat; }
  .icon-megaphone {
    background: url("../images/icon/megaphone.svg") left center no-repeat; }
  .icon-star {
    background: url("../images/icon/star.svg") left center no-repeat; }

.bg-image {
  position: relative; }
  .bg-image .container {
    position: relative; }

.bg-primary {
  background-color: #dc1c2e !important; }

.bg-secondary {
  background-color: #005898 !important; }

.bg-slant {
  overflow: hidden;
  position: relative; }
  .bg-slant:before {
    background: #f8f9fa;
    content: "";
    top: 23%;
    left: -6.5rem;
    position: absolute;
    right: -6.5rem;
    height: 28rem;
    transform: rotate(-15deg);
    z-index: -1; }
  .bg-slant-reverse:before {
    transform: rotate(15deg); }

.border-primary {
  border-color: #005898 !important; }

.border-bottom-4 {
  border-bottom-width: 4px !important; }

.overflow-hidden {
  overflow: hidden; }

.overlay, .bg-image:before, .blog-post-meta:before, .card-deck-posts .card-image-wrap:before, .top-story-content:before {
  background: black;
  bottom: 0;
  content: "";
  left: 0;
  opacity: 0.67;
  position: absolute;
  right: 0;
  top: 0; }

.pipe, .footer-menu li:after, .top-menu li:not(:last-child):after {
  background: #005898;
  content: "";
  height: 1rem;
  margin-top: -0.5rem;
  position: absolute;
  right: -1px;
  top: 50%;
  width: 2px; }

.red-hash, blockquote p:before, .blog-post-date:before, .list-stylized li:after, .top-story p:after {
  background: #dc1c2e;
  height: 0.2rem;
  content: "";
  left: 0;
  position: absolute;
  top: 0;
  width: 1.5rem; }

.shadow {
  box-shadow: 0 0 2rem rgba(86, 86, 86, 0.1); }

.text-primary {
  color: #dc1c2e !important; }

* {
  -webkit-font-smoothing: antialiased; }

a:focus {
  outline: none; }

body {
  color: #333333;
  font: 1rem/1.625rem "Raleway Medium", sans-serif; }

h1, h2, h3, h4 {
  color: #005898;
  font-family: "Montserrat Regular", sans-serif; }

h1 {
  font-size: 2.1875rem; }

h3 {
  font-size: 1.5rem; }

blockquote {
  padding: 10rem 0;
  position: relative; }
  blockquote:after, blockquote:before {
    font: 47.5rem/1 "Montserrat Regular", sans-serif;
    content: "\201C";
    left: -12.5rem;
    opacity: 0.3;
    position: absolute;
    top: -6rem; }
  blockquote:after {
    bottom: 1rem;
    content: "\201D";
    left: auto;
    line-height: 0;
    right: -13rem;
    top: auto; }
  blockquote p {
    font: 30px "Montserrat Regular", sans-serif;
    margin: 0;
    position: relative; }
    blockquote p:before {
      width: 3rem; }

.blog-post {
  font: 1rem/1 "Montserrat Regular", sans-serif; }
  .blog-post h1 {
    font-size: 1.375rem;
    line-height: 1.8125rem; }
    .blog-post h1 a {
      color: #005898; }
  .blog-post-date {
    color: #dc1c2e;
    line-height: 1; }
    .blog-post-date:before {
      margin-top: 0.1rem;
      top: 50%; }
  .blog-post-meta {
    bottom: 0;
    color: white;
    left: 0;
    position: absolute;
    right: 0; }
    .blog-post-meta span {
      font-size: 1.125rem; }
  .blog-post-permalink {
    color: #dc1c2e; }
  .blog-post-social {
    color: white; }
    .blog-post-social a {
      padding-top: 1rem;
      width: 1.5rem; }

.blog-post-small {
  border-bottom: 1px solid #4c4c4c;
  font-size: 0.875rem; }
  .blog-post-small:last-child {
    border: 0; }
  .blog-post-small h1 {
    font-size: 0.875rem;
    line-height: 1.3125rem; }

.btn-close {
  background: #dc1c2e;
  box-shadow: 0 0 0 2px white;
  color: white;
  cursor: pointer;
  font-size: 1.5rem;
  line-height: 2.5rem;
  padding: 0;
  width: 2.5rem; }
  .btn-close:hover {
    background: #af1625; }

.btn-primary {
  background: #dc1c2e;
  border: 0;
  border-radius: 1.5rem;
  font: 1rem "Montserrat Regular", sans-serif;
  line-height: 3rem;
  padding: 0 1.5rem; }
  .btn-primary:hover {
    background: #af1625; }

.btn-unstyled {
  background: none;
  color: #dc1c2e;
  cursor: pointer; }

.card-deck-posts .card-body {
  bottom: 0; }

.card-deck-posts .card-text {
  font: 1rem "Montserrat Regular", sans-serif; }

.card-deck-posts .card-title {
  font: 1.125rem "Montserrat Bold", sans-serif; }

.card-deck-posts .card-tags {
  bottom: -2rem;
  color: initial;
  position: absolute; }
  .card-deck-posts .card-tags a {
    color: #dc1c2e; }

.form-inline .form-control {
  border-radius: 2rem;
  width: 17.5rem; }

.search-form {
  margin-top: -0.75rem;
  right: 15px;
  top: 50%;
  width: 15em; }
  .search-form .form-control {
    background: url("../images/icon/search.svg") 1rem center no-repeat/1rem;
    border: 0;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    color: #dc1c2e;
    font: 1em "Montserrat Regular", sans-serf;
    padding-left: 2.5rem; }
  .search-form .form-control::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #dc1c2e; }
  .search-form .form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: #dc1c2e; }
  .search-form .form-control:-ms-input-placeholder {
    /* IE 10+ */
    color: #dc1c2e; }

.gallery figcaption {
  display: none; }

.gallery figure.active .gallery-image-mask {
  border: 1px solid #dc1c2e; }

.gallery img {
  transition: all .2s ease-in-out; }
  .gallery img:hover {
    cursor: pointer;
    opacity: 0.5;
    transform: scale(1.1); }

.gallery .current-photo-details {
  background: #ebebeb;
  border: 1px solid #dc1c2e;
  position: relative; }
  .gallery .current-photo-details figcaption {
    display: block; }
  .gallery .current-photo-details h3,
  .gallery .current-photo-details p {
    margin-bottom: 2rem; }
  .gallery .current-photo-details img:hover {
    cursor: default;
    opacity: 1;
    transform: none; }
  .gallery .current-photo-details .btn-close {
    position: absolute;
    right: 0.75rem;
    top: 0.75rem; }

.gallery .gallery-image-mask {
  overflow: hidden; }

.list-stylized {
  counter-reset: my-counter; }
  .list-stylized li {
    color: #005898;
    font: 18px "Montserrat Regular", sans-serif;
    margin-bottom: 2rem;
    padding-top: 0.5rem;
    position: relative;
    width: 46%; }
  .list-stylized li:before {
    color: #c4c6c8;
    content: counter(my-counter);
    counter-increment: my-counter;
    font: 3rem "Montserrat Regular", sans-serif;
    left: -3rem;
    line-height: 1;
    position: absolute;
    top: -0.7rem; }

nav ul {
  list-style: none;
  margin: 0;
  padding: 0; }
  nav ul a,
  nav ul li {
    display: inline-block; }

.nav-primary a {
  color: white;
  font: 1.375rem "Montserrat Regular", sans-serif;
  line-height: 3.5rem;
  padding: 0 3rem;
  position: relative; }
  .nav-primary a:after {
    background: url("../images/icon/chevron-down.svg");
    content: "";
    height: 1.25rem;
    margin-top: -0.5rem;
    position: absolute;
    right: 1.25rem;
    top: 50%;
    width: 1.25rem; }

.top-story {
  height: 25rem; }
  .top-story a, .top-story h1, .top-story p {
    font: 1.375rem "Montserrat Bold", sans-serif;
    color: white; }
  .top-story a {
    font: 1rem "Montserrat Regular", sans-serif; }
  .top-story p {
    font-family: "Montserrat Regular", sans-serif; }
    .top-story p:after {
      bottom: 0;
      top: auto; }
  .top-story-content {
    bottom: 0;
    left: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 33.333%; }
    .top-story-content > * {
      position: relative; }

footer small {
  font: 0.875rem "Montserrat Regular", sans-serif; }

.footer-menu {
  font: 0.9375rem "Montserrat Bold", sans-serif;
  text-transform: uppercase; }
  .footer-menu a {
    color: white;
    padding: 1.25rem; }
  .footer-menu li {
    display: inline-block;
    position: relative; }
    .footer-menu li:after {
      background: white; }
    .footer-menu li:last-child:after {
      display: none; }

.footer-top {
  font: 1rem "Montserrat Semibold", sans-serif; }
  .footer-top a {
    color: white; }
  .footer-top h3 {
    color: white;
    font: 1rem "Montserrat Semibold", sans-serif;
    margin-bottom: 0;
    opacity: 0.7;
    text-transform: uppercase; }
  .footer-top img[alt="Children's Miracle Network"] {
    margin-top: 0.5em;
    max-width: 120px !important; }
  .footer-top ul {
    line-height: 2rem;
    list-style: none;
    padding-left: 0; }

.social {
  background-position: center !important;
  background-repeat: no-repeat !important;
  display: inline-block;
  font-size: 0;
  height: 0;
  overflow: hidden;
  padding-top: 2.625rem;
  width: 3.25rem; }
  .social-facebook {
    background: url("../images/social/facebook.svg"); }
  .social-google {
    background: url("../images/social/google.svg"); }
  .social-instagram {
    background: url("../images/social/instagram.svg"); }
  .social-linkedin {
    background: url("../images/social/linkedin.svg"); }
  .social-pinterest {
    background: url("../images/social/pinterest.svg"); }
  .social-twitter {
    background: url("../images/social/twitter.svg"); }

.logo {
  background: url("../images/logo/logo@2x.png");
  background-size: contain !important;
  display: inline-block;
  height: 0;
  overflow: hidden;
  padding-top: 33px;
  min-width: 180px; }
  .logo-large {
    background: url("../images/logo/logo-large@2x.png");
    padding-top: 60px;
    min-width: 328px; }

.sidebar {
  font: 1rem/1 "Montserrat Regular", sans-serif; }
  .sidebar-more-link {
    color: #dc1c2e; }

.blog-nav {
  background: none !important;
  border-bottom: 1px solid #4c4c4c !important;
  margin-top: 0 !important; }
  .blog-nav a {
    color: #dc1c2e; }
  .blog-nav a:after {
    background: url("../images/icon/chevron-down-red.svg"); }

.blog-social-header {
  border-bottom: 1px solid #4c4c4c;
  overflow: auto; }
  .blog-social-header .social-facebook {
    background: url("../images/social/facebook-red.svg"); }
  .blog-social-header .social-linkedin {
    background: url("../images/social/linkedin-red.svg"); }
  .blog-social-header .social-twitter {
    background: url("../images/social/twitter-red.svg"); }

.top-menu a {
  color: #dc1c2e;
  font: 1rem "Montserrat Semibold", sans-serif;
  display: inline-block;
  line-height: 3rem;
  padding: 0 1.5rem;
  text-transform: uppercase; }

.top-menu li {
  position: relative; }
