/**
	Overrides Bootstrap styles
 */
.btn-primary {
  background: #dd1c2f;
  border: 0;
  border-radius: 1.5rem;
  line-height: 3rem;
  padding: 0 1.5rem; }
  .btn-primary:hover {
    background: #b01625; }

.bg-primary {
  background-color: #dd1c2f !important; }

.border-primary {
  border-color: #003ea5 !important; }

.border-bottom-4 {
  border-bottom-width: 4px !important; }

.py-6 {
  padding-bottom: 4rem !important;
  padding-top: 4rem !important; }

.shadow {
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1); }

.bg-medium {
  background: #ebebeb; }

* {
  -webkit-font-smoothing: antialiased; }

a:focus {
  outline: none; }

h1, h2, h3, h4, .h1 {
  color: #003ea5; }

.gallery figcaption {
  display: none; }

.gallery figure.active .gallery-image-mask {
  border: 1px solid #dd1c2f; }

.gallery img {
  transition: all .2s ease-in-out; }
  .gallery img:hover {
    cursor: pointer;
    opacity: 0.5;
    transform: scale(1.1); }

.gallery .current-photo-details {
  border: 1px solid #dd1c2f;
  position: relative; }
  .gallery .current-photo-details figcaption {
    display: block; }

.gallery .gallery-image-mask {
  overflow: hidden; }

.js-close-photo-details {
  color: white;
  position: absolute;
  right: 0;
  top: 0; }

nav ul {
  list-style: none;
  margin: 0;
  padding: 0; }
  nav ul a,
  nav ul li {
    display: inline-block; }

.nav-primary a {
  line-height: 3.5rem;
  padding: 0 3rem; }

.logo {
  background: url("../images/logo@2x.png");
  background-size: contain;
  display: inline-block;
  height: 0;
  overflow: hidden;
  padding-top: 33px;
  min-width: 180px; }

.top-menu a {
  color: #dd1c2f;
  display: inline-block;
  line-height: 3rem;
  padding: 0 1.5rem;
  text-transform: uppercase; }

.top-menu li {
  position: relative; }
  .top-menu li:not(:last-child):after {
    background: #003ea5;
    content: "";
    height: 16px;
    margin-top: -8px;
    position: absolute;
    right: 0;
    top: 50%;
    width: 2px; }

.nav-on-dark a {
  color: white; }
