.bg-image {
	position: relative;

	&:before {
		background: black;
		bottom: 0;
		content: "";
		left: 0;
		opacity: 0.67;
		position: absolute;
		right: 0;
		top: 0;
	}

	.container {
		position: relative;
	}
}

.bg-primary {
	background-color: $remax-red !important;
}

.border-primary {
	border-color: $remax-blue !important;
}

.border-bottom-4 {
	border-bottom-width: 4px !important;
}

.red-hash {
	background: $remax-red;
	height: 0.2rem;
	content: "";
	left: 0;
	position: absolute;
	top: 0;
	width: 1.5rem;
}

.shadow {
	box-shadow: 0 0 2rem transparentize(#565656, 0.9);
}