.bg-image {
	position: relative;

	&:before {
		@extend .overlay;
	}

	.container {
		position: relative;
	}
}

// BS override
.bg-primary {
	background-color: $remax-red !important;
}

// BS override
.bg-secondary {
	background-color: $remax-blue !important;
}

.bg-slant {
	overflow: hidden;
	position: relative;

	&:before {
		background: $gray-light;
		content: "";
		top: 23%;
		left: -6.5rem;
		position: absolute;
		right: -6.5rem;
		height: 28rem;
		transform: rotate(-15deg);
		z-index: -1;
	}

	&-reverse:before {
		transform: rotate(15deg);
	}
}

// BS override
.border-primary {
	border-color: $remax-red !important;
}

// BS override
.border-secondary {
	border-color: $remax-blue !important;
}

.border-bottom-4 {
	border-bottom-width: 4px !important;
}

// BS override
.font-weight-bold {
	font-family: "Montserrat Bold", sans-serif !important;
	font-weight: normal !important;
}

.overflow-hidden {
	overflow: hidden;
}

.overlay {
	background: black;
	bottom: 0;
	content: "";
	left: 0;
	opacity: 0.67;
	position: absolute;
	right: 0;
	top: 0;
}

.pipe {
	background: $remax-blue;
	content: "";
	height: 1rem;
	margin-top: -0.5rem;
	position: absolute;
	right: -1px;
	top: 50%;
	width: 2px;
}

.pipe-left {
	@extend .pipe;
	left: -1px;
	right: auto;
}

.red-hash {
	background: $remax-red;
	height: 0.2rem;
	content: "";
	left: 0;
	position: absolute;
	top: 0;
	width: 1.5rem;
}

.shadow {
	box-shadow: 0 0 2rem transparentize(#565656, 0.9);
}


// BS override
.text-primary {
	color: $remax-red !important;
}